table {
  border-spacing: 0;
  /* margin-top: -20px; */
}

th,
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  text-align: center;
}

tr td:nth-child(3) { /* Not 0 based */
  text-align: left;
}
tr td:nth-child(2) {
  text-align: left;
}​

th {
  border-top: 1px solid black;
}

.expand_table {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 5px solid black;
  text-align: left;
}

.page-button {
  background-color: #007bff;
  border: none;
  color: white;
  text-align: center;
  font-size: 18px;
  margin: 4px 2px;
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  float: right;
}

.pagination {
  margin-top: -40px;
  margin-bottom: -9px;
  float: right;
}